@model NimapTest.Models.Category

@{
    ViewBag.Title = "Add New Category";
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Add New Category</h2>
        <hr />

        @using (Html.BeginForm("Create", "Category", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <div class="form-group" style="margin-bottom: 12px;">
                @Html.LabelFor(m => m.CategoryName, "Category Name")
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder = "Enter category name" })
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button id="btnAddCategory" type="submit" class="btn btn-success">Add Category</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Category")'">Close</button>
            </div>
        }
    </div>
</div>
